<p>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">Hi, I'm Jason Wiebe</h4>
    </div>
  </div>

  And I make beautiful things out of wood and metal and these are projects I've been working on.
</p>

<p>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">I am available to work projects for hire. </h4>
    </div>
  </div>

  From creating signs on my CNC router to wood and metal working, I have the skills
  and experience to bring your vision to life.
</p>

<p>
  Email <a href="mailto:jason@adamsriver.co">jason@adamsriver.co</a> to get started.
</p>

<p><a href="https://twitter.com/adamsriverco" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @adamsriverco</a></p>
